* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

form {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0.5rem 0;
    border-bottom: 3px solid black;
}

form input[type="text"] {
    width: 70%;
    height: 2rem;
    font-size: 1.5rem;
}

form input[placeholder] {
    font-size: 1rem;
    padding-left: 0.5rem;
}

form input[type="submit"] {
    width: 29%;
    height: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: seagreen;
    outline: none;
    border: none;
    border-radius: 3px;
}

form input[type="submit"]:hover {
    background-color: #008539;
}

ul {
    list-style: none;
    width: 50vw;
    padding-top: 0.5rem;
}

ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 3rem;
    border-bottom: 1px solid gray;
}

ul li input:not([readonly]) {
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.2rem;
    width: 70%;
    height: 70%;
    background-color: burlywood;
}

ul li input:read-only {
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.2rem;
    width: 70%;
    height: 70%;
    cursor: default;
}

.btn-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.edit-btn {
    display: block;
    color: #fff;
    background-color: dodgerblue;
    cursor: pointer;
    width: 45%;
    height: 70%;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.edit-btn:hover {
    background-color: #0077ee;
}

.delete-btn {
    display: block;
    color: #fff;
    background-color: crimson;
    cursor: pointer;
    width: 45%;
    height: 70%;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: #dd001d;
}

@media screen and (max-width: 600px) {
    form {
        width: 98vw;
    }

    ul {
        width: 98vw;
    }

    .edit-btn {
        font-size: 0.9em;
        font-weight: normal;
    }

    .delete-btn {
        font-size: 0.9em;
        font-weight: normal;
    }
}
